<div class="form-container">
<div class="form-card">
  <h2>Add Student</h2>
  <form [formGroup]="newStudentForm" (ngSubmit)="addNewStudent()">
    <mat-form-field appearance="outline" class="full-width spaced-field">
      <mat-label>Roll No</mat-label>
      <input matInput type="number" formControlName="rollNo" placeholder="Enter student roll no" />
      <mat-error *ngIf="newStudentForm.get('rollNo')?.hasError('required')">
        Roll No is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width spaced-field">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Enter student name" />
      <mat-error *ngIf="newStudentForm.get('name')?.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width spaced-field">
      <mat-label>Age</mat-label>
      <input matInput type="number" formControlName="age" placeholder="Enter student age" min="1" />
      <mat-error *ngIf="newStudentForm.get('age')?.hasError('required')">
        Age is required
      </mat-error>
      <mat-error *ngIf="newStudentForm.get('age')?.hasError('min')">
        Age must be at least 1
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width spaced-field">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" placeholder="Enter student email" />
      <mat-error *ngIf="newStudentForm.get('email')?.hasError('required')">
        Email is required.
      </mat-error>
      <mat-error *ngIf="newStudentForm.get('email')?.hasError('email')">
        Please enter valid email
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width spaced-field">
      <mat-label>Date of Birth</mat-label>
      <input matInput type="date" formControlName="date" />
      <mat-error *ngIf="newStudentForm.get('date')?.hasError('required')">
        Date of birth is required
      </mat-error>
    </mat-form-field>

    <mat-checkbox class="spaced-field" formControlName="isMale">Male</mat-checkbox>
    <div class="form-buttons spaced-field">
      <button mat-raised-button color="primary" type="submit" [disabled]="newStudentForm.invalid" class="bordered-btn">
        Add student
      </button>
      <button mat-raised-button color="warn" type="button" (click)="goBack()" class="bordered-btn">Back to list</button>
    </div>
  </form>
</div>
</div>